:root {
    --welcomePageBgColor: rgb(0, 110, 20);
    --boardPageBgColor: rgb(59, 59, 59);
    --mainBrown: rgb(50,25, 0);
    --secondaryBrown: rgb(90,43,0);
    --goodGreen: rgb(0, 189, 0);
    --fadedGreen: rgba(0, 189, 0, 0.75);
    --fancyBgOne: linear-gradient(to bottom, var(--mainBrown), var(--secondaryBrown), var(--secondaryBrown), var(--secondaryBrown), var(--secondaryBrown), var(--secondaryBrown), var(--fadedGreen));
    --secondaryColor: rgba(255, 221, 32);
    --easyDifficulty: rgb(71, 71, 255);
    --mediumDifficulty: rgb(255, 191, 72);
    --hardDifficulty: rgb(0, 187, 255);
    --text: grey;
    --clue: rgb(0, 157, 255);
    --facedown: rgb(142, 0, 0);
    --fontFamily: 'Segoe UI','Franklin Gothic Medium';
    --clockPanelHeight: 10vh;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 99vw;
    overflow: hidden;
}
a {
    position: relative;
}
*.hidden {
    opacity: 0;
    visibility: hidden;
}
button {
    position: relative;
    box-sizing: border-box;
}
button#backHome {
    position: absolute;
    top: 0;
    left: 0;
    font-family: Impact;
    color: var(--text);
    background-color: transparent;
    border: 1px solid var(--text);
    padding: 10px 20px;
}
button:hover {
    cursor: pointer;
}   
a.active, button.active {
    transform: translateY(-50px);
}
body#boardPageBg {
    background-color: var(--mainBrown);
}
body#welcomePageBg {
    background-color: var(--welcomePageBgColor);
}
td { 
    text-align: center; 
    position: relative;
}
td #cardCount {
    position: absolute;
    top: 110%;
}



/** WELCOME PAGE **/



.homeBtn {
    transition: all 600ms ease;
    border: 0.25rem solid var(--secondaryColor);
    border-radius: 150px;
    background-color: var(--secondaryBrown);
}
#playBtn {
    padding: 10px 20px;
    color: var(--secondaryColor);
    font-family: var(--fontFamily);
    font-size: 12rem;
    box-shadow: 0px 0px 15px 3px inset var(--goodGreen);
    padding: 0px 7rem;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    position: absolute;
}
.levelSelectBtn {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    padding: 0.5rem 3rem;
    max-width: 8rem;
    display: flex;
    justify-content: center;
    border-width: 0.15rem;
    font-family: consolas,system-ui,'Segoe UI',fantasy;
    color: var(--clue);
    border-color: var(--clue);
}
.levelSelectBtn:hover {
    box-shadow: 0px 0px 12px 3px inset var(--secondaryColor);
}
#levelSelectContainer {
    width: 75vw;
    max-height: 70vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    bottom: 0;
}   
.levelSelectDisplay {
    position: absolute;
    top: 15%;
    font-family: Impact;
}
.homeBtn:hover {
    /* box-shadow: 0px 0px 15px 4px var(--secondaryColor); */
    letter-spacing: 0.15rem;
    border: none;
}
#playBtn:hover {
    border: none;
    color: var(--goodGreen);
    -webkit-text-stroke: 0.2rem var(--secondaryColor);
}
/* #playeasy { color: var(--easyDifficulty) };
#playeasy:hover { box-shadow: 0px 0px 12px 3px inset var(--easyDifficulty)};
#playmedium { color: var(--mediumDifficulty) };
#playmedium:hover { box-shadow: 0px 0px 12px 3px inset var(--mediumDifficulty)};
#playhard { color: var(--hardDifficulty) };
#playhard:hover { box-shadow: 0px 0px 12px 3px inset black };
#playextreme { color: orange } */




/** BOARD PAGES **/



.card {
    height: 1rem;
    width: 1rem;
}
#boardRow {
    height: 55vh;
    max-width: 70vw;
/* Make ^ 70vw on mobile */
    left: 50%;
    transform: translateX(-50%);
    max-height: 45vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: transparent;
    overflow-x:scroll;
    overflow-y: auto;
    scrollbar-color: var(--secondaryColor) green;
    scrollbar-width: thin;
    position: relative;
    padding: 2rem 6rem;
}
#board {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
    flex-wrap: wrap;
}
#board .card {
    border: 2px solid orange;
    padding: 2rem;
    width: 2%;
    display: flex;
    justify-content: center;
    margin: 1%;
    font-weight: bold;
    transition: all 500ms ease;
    position: relative;
    font-family: var(--fontFamily);
    color: white;
}
.card:hover {
    cursor: pointer;
}
#controlPanel {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: var(--fontFamily);
}
#clockPanel {
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    right: 0;
    border: 0.25rem solid var(--goodGreen);
    background-color: var(--goodGreen);
    font-family: consolas;
    margin-right: none;
    font-weight: bold;
    display: flex;
    height: var(--clockPanelHeight);
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    overflow: hidden;
}
#clock {
    position: relative;
    display: flex;
    justify-content: center;
}
#clockBody {
    position: absolute;
    top: 10%;
    color: white;
}
table {
    height: 90vh;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}
#boardContainer #boardRow .facedown {
    background-color: var(--facedown);
    color: var(--facedown);
    z-index: 100;
}
#startBtn {
    padding: 10px 20px;
    background-color: var(--secondaryBrown);
    color: var(--secondaryColor);
    font-family: var(--fontFamily);
    position: absolute;
    font-size: 4rem;
    box-shadow: 0px 0px 15px 3px inset var(--goodGreen);
    padding: 0px 7rem;
    transition: all 750ms ease;
    max-width: 55vw;
    display: flex;
    justify-content: center;
    /* transform: translateX(50%); */
}
#startBtn:hover {
    background-color: black;
}
.gameUI { 
    /* border: 1px solid white;  */
    color: white; 
    width: 25vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    letter-spacing: 2px;
}
#controlPanel .reminder {
    position: absolute;
    font-size: 0.75rem;
}
#countPanel .reminder#flipReminder {
    bottom: 0;
}
#cardPanel {
    width: 12vw;
}
#countPanel #flipCount {
    position: relative;
    top: 0.75rem;
    color: var(--secondaryColor);
}
#countReminderContainer {
    line-height: 0.9;
    top: 5px;
}
#countNumer, #countDenom {
    font-size: 150%;
}
#boardContainer #boardRow #board .card.correct {
    background-color: blue;
}
#boardContainer #boardRow #board .card.found {
    position: absolute;
    opacity: 0;
}
.clueGlow {
    border: 2px solid var(--clue);
    box-shadow: 0px 0px 15px 3px white;
}
#cluePanel {
    z-index: 100;
    transform: scaleX(75%);
    font-size: 175%;
    border-radius: 500px;
    -webkit-text-stroke: 1px var(--clue);
    /* border: 2px solid white; */
    /* background-image: linear-gradient(190deg, var(--clue), transparent, var(--clue), transparent); */
}
#cluePanel .reminder {
    bottom: 1rem;
}
#cluePanel:hover {
    cursor: pointer;
}
#clueHeader {
    top: 1rem;
}
#clueCount {
    color: var(--secondaryColor);
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    transform: translateY(-25%);
}
.flicker { animation: borderFlicker infinite 40000ms; }
/* #boardContainer #boardRow #board .card.noclick {
    pointer-events: none;
    
} */

@keyframes spin {
  from {transform: translate(-50%, -50%) rotate(0);}
  to   {transform: translate(-50%, -50%) rotate(360deg);}
}

@keyframes borderFlicker {
    0% {
        border-color: var(--goodGreen);
    }
    5% {
        border-color: var(--secondaryColor);
    }
    25% {
        border-color: var(--clue);
    }
    45% {
        border-color: red;
    }
    65% {
        border-color: var(--facedown);
    }
    80% {
        border-color: white;
    }
    95% {
        border-color: var(--goodGreen);
    }
}

@media only screen and (min-width:300px) {
    #boardRow { max-width: 40vw; height: 35vh };
}
@media only screen and (max-width: 650px) {
    #playBtn { font-size: 8rem };
    #startBtn { max-width: 90vw; font-size: 3px }
}
@media only screen and (max-width: 450px) {
    #playBtn { font-size: 5rem };
}