:root {
    --welcomePageBgColor: rgb(0, 110, 20);
    --boardPageBgColor: rgb(59, 59, 59);
    --mainBrown: rgb(50,25, 0);
    --secondaryBrown: rgb(90,43,0);
    --goodGreen: rgb(0, 189, 0);
    --fadedGreen: rgba(0, 189, 0, 0.75);
    --fancyBgOne: linear-gradient(to bottom, var(--mainBrown), var(--secondaryBrown), var(--secondaryBrown), var(--secondaryBrown), var(--secondaryBrown), var(--secondaryBrown), var(--fadedGreen));
    --secondaryColor: rgba(255, 221, 32);
    --easyDifficulty: rgb(71, 71, 255);
    --mediumDifficulty: rgb(255, 191, 72);
    --hardDifficulty: rgb(255, 77, 0);
    --extremeDifficulty: rgb(169, 0, 121);
    --hiddenLevelDifficulty: linear-gradient(120deg, rgb(0,157,255), blue, purple);
    --text: grey;
    --hiddenLevel: rgb(255, 69, 168);
    --profileBgColor: #d3d3d3;
    --clue: rgb(0, 157, 255);
    --facedown: rgb(142, 0, 0);
    --fontFamily: system-ui,'Segoe UI',fantasy;;
    --clockPanelHeight: 10vh;
}
a {
    text-decoration: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 99vw;
    overflow: hidden;
}
a {
    position: relative;
}
*.hidden {
    opacity: 0;
    visibility: hidden;
}
*.noshow {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
button {
    position: relative;
    box-sizing: border-box;
}
button:hover {
    cursor: pointer;
}   
a.active, button.active {
    transform: translateY(-50px);
}
body#boardPageBg {
    background-color: var(--mainBrown);
}
body#welcomePageBg {
    background-color: var(--welcomePageBgColor);
    display: flex;
    justify-content: center;
}
td { 
    text-align: center; 
    position: relative;
}
td #cardCount {
    position: absolute;
    top: 110%;
}
.text {
    color: var(--text);
}
.tip {
    font-family: Impact;
    color: var(--clue);
    letter-spacing: 1.5px;
    font-size: 115%;
}
.good {
    color: var(--goodGreen);
    font-size: 115%;
}


/** NAVIGATION **/



#navBar {
    position: absolute;
    top: 0;
    left: 0;
}
#navBar button {
    color: var(--text);
    background-color: transparent;
    font-family: Impact;
    padding: 10px 20px;
    border: 1px solid var(--text);   
    color: white;
    letter-spacing: 1.2px;
}
#navBar button:disabled {
    cursor:none;
}
#navBar button.diffEasy { background-color: var(--easyDifficulty) }
#navBar button.diffMedium { background-color: var(--mediumDifficulty) }
#navBar button.diffHard { background-color: var(--hardDifficulty) }
#navBar button.diffExhi { background-color: var(--extremeDifficulty) }
#navBar button.diffBonus { background-image: var(--hiddenLevelDifficulty) }



/** WELCOME PAGE **/



.homeBtn {
    transition: all 600ms ease;
    border: 0.25rem solid var(--secondaryColor);
    border-radius: 150px;
    background-color: var(--secondaryBrown);
    font-family: var(--fontFamily);
}
#homeBtnContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1rem;
    transition: all 400ms ease;
}
#playBtn {
    padding: 10px 20px;
    color: var(--secondaryColor);
    font-size: 12rem;
    box-shadow: 0px 0px 15px 3px inset var(--goodGreen);
    padding: 0px 7rem;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
#howToBtn {
    padding: 10px 20px;
    color: var(--clue);
    font-size: 2rem;
    box-shadow: 0px 0px 15px 3px inset var(--goodGreen);
    padding: 0px 4rem;
    min-width: 20vw;
    max-width: 70vw;
    border-color: var(--clue);
    display: flex;
    justify-content: center;
    position: relative;
}
#statsBtn {
    padding: 10px 20px;
    color: var(--clue);
    min-width: 20vw;
    font-size: 2rem;
    box-shadow: 0px 0px 15px 3px inset var(--goodGreen);
    padding: 0px 4rem;
    max-width: 70vw;
    border-color: var(--clue);
    display: flex;
    justify-content: center;
}
.levelSelectBtn#playexhibition {
    color: var(--hardDifficulty);
    border-color: var(--hardDifficulty);
}
.levelSelectBtn.hiddenLevel {
    color: var(--hiddenLevel);
    border-color: var(--hiddenLevel);
}
.levelSelectBtn {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    padding: 0.5rem 3rem;
    max-width: 8rem;
    display: flex;
    justify-content: center;
    border-width: 0.15rem;
    color: var(--clue);
    border-color: var(--clue);
}
.levelSelectBtn:hover {
    box-shadow: 0px 0px 12px 3px inset var(--secondaryColor);
}
#levelSelectContainer {
    width: 75vw;
    max-height: 70vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    bottom: 0;
}   
.levelSelectHeader {
    position: absolute;
    top: 10%;
    font-family: Impact;
    font-size: 200%;
}
.homeBtn:hover {
    /* box-shadow: 0px 0px 15px 4px var(--secondaryColor); */
    letter-spacing: 0.15rem;
    border: none;
}
#playBtn:hover {
    border: none;
    color: var(--goodGreen);
    -webkit-text-stroke: 0.2rem var(--secondaryColor);
}




/** BOARD PAGES **/



.card {
    height: 1rem;
    width: 1rem;
}
#boardRow {
    min-height: 55vh;
    min-width: 80vw;
/* Make ^ 70vw on mobile */
    left: 50%;
    transform: translateX(-50%);
    max-height: 45vh;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    background-color: transparent;
    overflow-x:scroll;
    overflow-y: auto;
    scrollbar-color: var(--secondaryColor) green;
    scrollbar-width: thin;
    position: relative;
}
#board {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: none;
    flex-wrap: wrap;
}
#board .card {
    border: 2px solid orange;
    padding: 2rem;
    width: 2%;
    display: flex;
    justify-content: center;
    margin: 1%;
    font-weight: bold;
    transition: all 500ms ease;
    position: relative;
    font-family: var(--fontFamily);
    color: white;
}
.card:hover {
    cursor: pointer;
}
#controlPanel {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: var(--fontFamily);
}
#clockPanel {
    position: absolute;
    bottom: -25px;
    box-sizing: border-box;
    width: 150vw;
    right: 50%;
    transform: translateX(-50%);
    border-top: 0.25rem solid var(--goodGreen);
    border-bottom: 0.25rem solid var(--goodGreen);
    background-color: var(--goodGreen);
    font-family: consolas;
    margin-right: none;
    font-weight: bold;
    font-size: 150%;
    display: flex;
    height: var(--clockPanelHeight);
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    overflow: hidden;
    transition: all 1500ms ease;
}
#clock {
    position: relative;
    display: flex;
    justify-content: center;
}
#clockBody {
    position: absolute;
    top: 10%;
    color: white;
}
#clockPanel.warningTime {
    background-color: var(--secondaryColor);
}
#clockPanel.timeUp {
    background-color: var(--facedown);
}
#clockPanel.warningTime #clockBody {
    color: var(--facedown);
}
#clockPanel.timeUp #clockBody {
    color: black;
}
table {
    height: 90vh;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}
#boardContainer #boardRow .facedown {
    background-color: var(--facedown);
    color: var(--facedown);
    z-index: 100;
}
#startBtn {
    padding: 1rem 2rem;
    background-color: var(--secondaryBrown);
    color: var(--secondaryColor);
    font-family: var(--fontFamily);
    position: absolute;
    font-size: 4rem;
    box-shadow: 0px 0px 15px 3px inset var(--goodGreen);
    padding: 0px 7rem;
    transition: all 750ms ease;
    max-width: 55vw;
    display: flex;
    justify-content: center;
    border-radius: 150px;
    /* transform: translateX(50%); */
}
#startBtn:hover {
    background-color: black;
}
.gameUI { 
    /* border: 1px solid white;  */
    color: white; 
    width: 25vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    letter-spacing: 2px;
}
#controlPanel .reminder {
    position: absolute;
    font-size: 0.75rem;
}
#cardPanel {
    width: 12vw;
    padding: 1rem 2rem;
    transition: all 400ms ease;
}
#countPanel, #cluePanel {
    padding: 0.5rem;
}
#countPanel .reminder#flipReminder {
    bottom: 0;
}
#countPanel #flipCount {
    position: relative;
    top: 0.75rem;
    color: var(--secondaryColor);
}
#countReminderContainer {
    line-height: 0.9;
    top: 5px;
}
#countNumer, #countDenom {
    font-size: 150%;
}
#boardContainer #boardRow #board .card.correct {
    background-color: blue;
}
#boardContainer #boardRow #board .card.found {
    position: absolute;
    opacity: 0;
}
.clueGlow {
    border: 2px solid var(--clue);
    box-shadow: 0px 0px 12px 4px white;
}
#cluePanel {
    z-index: 100;
    transform: scaleX(75%);
    font-size: 175%;
    border-radius: 500px;
    font-weight: bold;
    letter-spacing: 5px;
    -webkit-text-stroke: 1px var(--clue);
    /* border: 2px solid white; */
    /* background-image: linear-gradient(190deg, var(--clue), transparent, var(--clue), transparent); */
}
#cluePanel .reminder {
    bottom: 1rem;
}
#cluePanel:hover {
    cursor: pointer;
}
#clueHeader {
    top: 1rem;
}
#clueCount {
    color: var(--secondaryColor);
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    transform: translateY(-25%);
}
.flicker { animation: borderFlicker infinite 45000ms; }
/* #boardContainer #boardRow #board .card.noclick {
    pointer-events: none;
    
} */



/** PROFILE PAGES **/




#profileBody, #rulesBody { 
    background-color: var(--profileBgColor);
}
#changeName:hover {
    cursor: pointer;
    text-decoration: underline;
}
#statsTable {
    width: 40vw;
    height: 30vh;
    font-family: var(--fontFamily);
    left: 0;
    font-weight: bold;
    position: absolute;
}
#statsTable th {
    position: relative;
    bottom: 2vh;
    left: 1vw;
    color: var(--text);
    text-align: left;
    font-size: 150%;
}
#statsTable tr:nth-of-type(even) {
    background-color: white;
}
body #statsTable td.statsCategory { 
    background-color: var(--profileBgColor);
    font-weight: bold;
    padding-right: 2rem;
    font-size: 80%;
    width: 20vw;
}
#statsTable td.statsResult { 
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 12px 0px var(--grey);
    width: 40vw;
    text-align: right;
    padding: 0 0.75rem;
    font-size: 120%;
    /* display: flex; */
    /* justify-content: end; */
 }
#welcomeContainer {
    position: absolute;
    top: 10vh;
}
#welcomeProfile {
    position: relative;
    font-family: var(--fontFamily);
}
#expBarContainer {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    font-size: 50%;
    transform: translateX(-50%);
    color: var(--text)
}
#resetWL {
    font-family: Impact;
    width: 100%;
    background-color: var(--clue);
    font-size: 120%;
    line-height: 1.25;
    color: white;
    letter-spacing: 1px;
    padding: 0.5rem 0.25rem;
    border: none;
}
#resetWLCell {
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translate(-50%,20px);
    bottom: -(50*vw);
}





/** RULES PAGE  **/



#rulesBody {
    overflow-y: scroll;
}
#rulesTable td {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    font-family: var(--fontFamily);
    font-weight: bold;
    letter-spacing: 1.2px;
}
.helpImg {
    width: 80vw;
    height: 30vh;
    margin: none;
}
/* #helpOneImg {
    background-image: url("../user/images/diffStart.png");
}
#helpTwoImg {
    background-image: url("../user/images/boardTimer.png");
}
 */


#maintenance {
    position: absolute;
    z-index: 1000;
    width: 102vw;
    height: 100vh;
    /* background-color: var(--welcomePageBgColor); */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    color: var(--text);
    font-family: consolas;
    font-size: 75%;
}
#maintenance h1 {
    z-index: 1001;
    font-size: 8vw;
    margin: 2rem;
    color: var(--goodGreen)
}



@keyframes spin {
  from {transform: translate(-50%, -50%) rotate(0);}
  to   {transform: translate(-50%, -50%) rotate(360deg);}
}

@keyframes borderFlicker {
    0% {
        border-color: var(--goodGreen);
    }
    5% {
        border-color: var(--secondaryColor);
    }
    25% {
        border-color: var(--clue);
    }
    45% {
        border-color: red;
    }
    65% {
        border-color: var(--facedown);
    }
    80% {
        border-color: pink;
    }
    95% {
        border-color: white;
    }
}

@media only screen and (min-width:300px) {
    #boardRow { max-width: 40vw; height: 35vh };
}
@media only screen and (max-width: 1200px) {
    /* #welcomePageBg #homeBtnContainer .secondHomeUI {
        min-width: 40vw;
    } */
}
@media only screen and (max-width: 900px) {
    /* #maintenance h1 { margin: 3rem 3rem } */
    #statsTable {
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
    }
    /* #welcomePageBg #homeBtnContainer .secondHomeUI {
        min-width: 40vw;
    } */
}
@media only screen and (max-width: 700px) {
    #playBtn { font-size: 8rem };
    #statsBtn { font-size: 4rem };
    #startBtn { max-width: 90vw; };
    .secondHomeUI {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 450px) {
    #playBtn { font-size: 5rem };
    #statsBtn { font-size: 2rem };
}
